
html,body
{
    padding: 0;
    margin: 0;
}




footer
{

    position: fixed;
    bottom: 0;
    margin:0;
    padding: 0;
    display: flex;
    width: 100%;
    min-height: 200px;
    background-color: #191919;
    text-align: center;
    color: #fff;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: scroll;


  

    h3 {

        display: block;
        padding: 30px;
        padding-top: 5px;
        padding-right: 80px;
        padding-left: 80px;
        transform: scale(1.2);

    }

   


   ul {

    list-style-type: none;
    width: 20%;
    text-align: left;

   
    


    a 
    {
        font-size: 1.5rem;
        padding: 10px;
        margin-left: -1px;
        
        
      
      
     
        

        &:hover
        {
            cursor: pointer;
            opacity: 0.8;
        }
        
    }

  

    
   
  

    li {

       
        border-left: 1px solid white;
        text-align: left;
        padding: 5px;
        padding-left: 15px;
        overflow: hidden;
        

      

        &:first-child{
    
            font-size: 1.5rem;
            padding-bottom: 5px;

            
           
        
             }

        &:hover
        {
            cursor: pointer;
            opacity: .8;
        }

        &:nth-child(2)
        {
            margin-top: 10px;
        }

      
                
        
        


    }

   

   }


}

#company
{
    border-left: 5px solid #00c2e9;
}

#knowledge
{
    border-left: 5px solid #109991;
}

#resources
{
    border-left: 5px solid #df5557;
}

#getInTouch
{
    border-left: 5px solid #9367a5;
}



@media only screen and (max-width: 850px) {
    footer {

       h3
       {
         display: none;
       }
    }

}




@media only screen and (max-width: 750px) {
    footer {
      
        width: 100%;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-content: center;
       

        h3 
        {
            display: block;
        }

        ul 
        {

            width: 75%;
            margin: 0 auto;
            padding: 20px;
      
            

        
        }
      
    }
  }

